/* bottom nav bar */
.nav_bar{
    border-top:solid 1px #efeff1; 
    position: fixed; 
    bottom: 0px;
    background: white;
    max-width: 100%;
}

.oj-navigationlist-expanded.oj-navigationlist-icon-only .oj-navigationlist-item.oj-selected:not(.oj-hover) .oj-navigationlist-item-icon {
    color: #2196f3;
}

.oj-navigationlist-horizontal.oj-navigationlist-icon-only .oj-navigationlist-item.oj-selected .oj-navigationlist-item-icon {
    background-color: white;
}

.oj-navigationlist-app-level.oj-navigationlist-horizontal .oj-navigationlist-item:not(.oj-disabled):not(.oj-hover):not(.oj-selected) .oj-navigationlist-item-icon {
    color: #d4d6d7;
}

/* top tool bar */
.tool_bar{
	position: sticky;
    top: 0px;
    background: white;
    border-bottom: 1px solid #d6dfe6; 
    z-index: 1;
}

/* bottom action bar */
.action_bar{
	position: fixed;
    bottom: 0px;
    background: white;
    border-top:solid 1px #d6dfe6;
    z-index: 1;
    width: 100%;
}

/* list */
.list{
	border-top: none;
    overflow: hidden;
}
.list .avatar{
  border-radius: 50%; 
  background-size: 35px 35px; 
  width: 35px; height: 35px; 
  display: inline-block;
}

.list .container{
  display: inline-block;
  margin: 0 10px;
  vertical-align: top;
}

.list .name{
  font-weight: bold;
}


/* profile */
.profile-top-section {
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 225px;
    text-align: center;
}
.profile-top-section-gradient-blue {
    background: linear-gradient(to bottom, #0571CD 83px, #058EFF 83px);
}
.profile-photo-container {
    padding: 4px;
    width: 106px;
    height: 106px;
    margin: auto;
    background-color: #ffffff;
    border-radius: 50%;
}

*, *:before, *:after { box-sizing: inherit; }

.profile-photo {
    width: 98px;
    height: 98px;
    border-radius: 50%;
    object-fit: cover;
}

h2.profile-name {
    color: #ffffff;
}

.profile-title {
    color: #ffffff;
}

/* flowing flex layout */
.myPanel{
	border:none;
	text-align: center;
}

/* search bar and header*/
.search_bar{
	position: sticky;
    top: 10px;
    z-index: 1;
}

/* slider */
.swipslider {
  position: relative;
  overflow: hidden;
  display: block;
  padding-top: 30%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .swipslider .sw-slides {
    display: block;
    padding: 0;
    list-style: none;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    font-size: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    position: absolute;
    bottom: 0; }
  .swipslider .sw-slide {
    width: 100%;
    height: 100%;
    margin: auto;
    display: inline-block;
    position: relative; }
    .swipslider .sw-slide > img {
      width:100%;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none; }
    .swipslider .sw-slide .sw-content {
      width: 100%;
      height: 100%;
      margin-left: 0;
      margin-right: 0;
      font-size: 14px; }

.sw-next-prev {
  display: none;
  font-family: "Courier New", Courier, monospace;
  height: 50px;
  width: 50px;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  line-height: 50px;
  font-size: 30px;
  font-weight: bolder;
  color: rgba(160, 160, 160, 0.53);
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0);
  border-radius: 50%;
  text-decoration: none;
  transition: all .2s ease-out;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .sw-next-prev:hover {
    background-color: rgba(255, 255, 255, 0.74); }
  .sw-next-prev:active {
    background-color: rgba(255, 255, 255, 0.5); }

.sw-prev {
  left: 2%; }
  .sw-prev::after {
    content: '<'; }

.sw-next {
  right: 2%; }
  .sw-next::after {
    content: '>'; }

.sw-bullet {
  position: absolute;
  bottom:10%;
  list-style: none;
  display: block;
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0; }
  .sw-bullet li {
    width: 10px;
    height: 10px;
    background-color: rgba(160, 160, 160, 0.53);
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: all .2s ease-out; }
    .sw-bullet li:hover {
      background-color: rgba(255, 255, 255, 0.74); }
    .sw-bullet li.active {
      background-color: rgba(255, 255, 255, 0.5);
      box-shadow: 0 0 2px rgba(160, 160, 160, 0.53); }
    .sw-bullet li:not(:last-child) {
      margin-right: 5px; }

/* promotion belt */      
.conveyor-item {
  padding: 5px;
}
.promotion_big{
    width:500px;
}

/* filters */
.myOption{
    background-color: #9e9e9e08;
    margin: 2px;
}
.myOption-on{
    background-color: #85bbe733;
    margin: 2px;
}

/* asset list */
.isChecked{
    background-color: #ebeced;
    border-top: 1px solid #eeeeee;
    background-size: 0;
}