<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8" />
    <title>Hello World</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
  </head>

  <body>
    
    <div id="app">
      {{ message }}
    </div>

    <div id="app-2">
      <input type="text" v-bind:value="message"/>
    </div>

    <div id="app-3">
      <span v-if="seen">v-if</span>
    </div>

    <div id="app-4">
      <ol>
        <li v-for="todo in todos">
          {{ todo.text }}
        </li>
      </ol>
    </div>

    <div id="app-5">
      <p>{{ message }}</p>
      <button v-on:click="reverseMessage">v-on:click</button>
    </div>
    
    <div id="app-6">
      <p>{{ message }}</p>
      <input v-model="message">
    </div>
      
    <div id="app-7">
      <ol>
        <!--
          Now we provide each todo-item with the todo object
          it's representing, so that its content can be dynamic.
          We also need to provide each component with a "key",
          which will be explained later.
        -->
        <todo-item
          v-for="item in groceryList"
          v-bind:todo="item"
          v-bind:key="item.id"
        ></todo-item>
      </ol>
    </div>
      

    <script>
    
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!'
            }
        })
        // app.message = 'hi'

        var app2 = new Vue({
            el: '#app-2',
            data: {
                message: 'v-bind ' + new Date().toLocaleString()
            }
        })

        var app3 = new Vue({
            el: '#app-3',
            data: {
                seen: true
            }
        })

        var app4 = new Vue({
            el: '#app-4',
            data: {
                todos: [
                    { text: 'v-for' },
                    { text: 'xxx' },
                    { text: 'xxx' }
                ]
            }
        })

        var app5 = new Vue({
            el: '#app-5',
            data: {
                message: 'Hello Vue.js!'
            },
            methods: {
                reverseMessage: function () {
                    this.message = this.message.split('').reverse().join('')
                }
            }
        })

        var app6 = new Vue({
            el: '#app-6',
            data: {
                message: 'v-model'
            }
        })  


        Vue.component('todo-item', {
            props: ['todo'],
            template: '<li>{{ todo.text }}, <input v-model="todo.text"></li>'
        })

        var app7 = new Vue({
            el: '#app-7',
            data: {
                groceryList: [
                    { id: 0, text: 'Vue.component' },
                    { id: 1, text: 'v-bind' },
                    { id: 2, text: 'xxx' }
                ]
            }
        })
        // app7.groceryList[2].text = 'xxx'

    </script>

  </body>

</html>
